* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}    
header,main{
    width: 85%;
    background-color:#fffdfd;
    margin: 0px auto;
    align-items: center;
    
}

nav{
    display: flex;
}

.head-icons{
    display: flex;
    
}
.items{
    margin: 30px;
    background-color: #ffffff;
    text-decoration: none;
    padding: 15px 25px 15px 25px;
    border-radius: 17px;
    color: black;
    border: none;
    
}
#flipkart{
    background-color: rgb(255, 230, 0);
    margin-right: 0px;
}
#travel{
    background-color: rgb(244, 242, 242);
}
.select_address{
    text-decoration: none;
}
.location{
    margin: 35px;
    padding-left: 600px;
}
.search{
    display: flex; 
    justify-content: flex-start; 
    margin-left: 50px;
    padding-bottom: 14px;
    padding-top: 0%;
    
}
.login{
    padding-left: 10px;
    padding-right: 30px;
    text-decoration: none;
    color: black;
}
.icon-box{
    width: 10%;
    display: flex;
    align-items: center;
    
    padding: 20px 15px;
    min-width:80px;
    text-align: center;
    border-radius: 5px;
}
.cat-nav{
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: center;
    gap: 5px;
}
.image{
    height:30px;
    width:30px;
    align-items: center;
}
.banner-section{
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 12px;
}
.banner-section-2{
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 12px;
    padding: 5px;
    background-color: #fff;
}

.banner-slider{
    display: flex;
    gap: 15px;
}


.banner-slider img{
    
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
}

.spotlight-section{
    width: 50%;
    padding: 15px;
}

.spotlight-slider{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.spotlight-slider img{
    width:100%;
    border-radius:18px;
    display:block;
}

