body{
    background-color: rgb(230, 228, 228);
    
}
#div-container{
    
    background-color: rgb(246, 246, 246);
    height:500px;
    width: 700px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4,150px);
    grid-template-rows:repeat(3,150px);
    justify-content: center;
    padding-top: 20px;
    margin: 100px 400px;
    
}
.grid-item1{
    background-color: aqua;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item2{
    background-color: rgb(106, 206, 110);
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item3{
    background-color: rgb(49, 172, 255);
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item4{
    background-color: rgb(170, 103, 242);
    grid-column:4;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item5{
    background-color: rgb(170, 103, 242);
    grid-column:1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item6{
    background-color: rgb(170, 103, 242);
    grid-column:2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item7{
    background-color: aqua;
    grid-column: 3;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item8{
    background-color: rgb(106, 206, 110);
    grid-row: 2;
    grid-column: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item9{
    background-color: rgb(49, 172, 255);
    grid-column: 1;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item10{
    background-color: rgb(170, 103, 242);
    grid-column:2;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item11{
    background-color: rgb(170, 103, 242);
    grid-column:3;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item12{
    background-color: rgb(170, 103, 242);
    grid-column:4;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}